.chat-main
  .chat-main__group-info
    .chat-main__group-info--test
      = @group.name
      .chat-main__group-info--test--member
        Member.
        - @group.users.each do |user|
          %li.group-info__left-box__user-list__user
            = user.name
    .chat-main__group-info--edit
      = link_to "edit" do
        .edit
          edit
  .messages
    = render @messages

  = form_for [@group, @message] do |f|
    .chat-main__footer
      .footer--foom
        =f.text_field :content, class:'footer--foom',placeholder: 'type a message'
        = f.label:image, class: 'foom--image' do
          = icon('fas', 'image', class: 'icon')
          %input.hidden{type: "file"}
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'footer--submit'
 